html, body{
    color: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
    width: 100%;
	height: 100%;
}

body{
    font-family: Courier;
	font-size: 16px;
}

.fr{
 float: right;
}

.fl{
 float: left;
}

.preload{
    background: #FFF;
    width: 100%;
    height: 100%;
}
.preload img{
    position: absolute;
    top: 45%;
    left: 45%;    
}

canvas{
    overflow: hidden;
    image-rendering: optimizeSpeed;
    -ms-interpolation-mode: nearest-neighbor;
     height: 100%;
	 width: 100%;
}


span, p, a{
	color: #00FF00;
	cursor: default;
    text-decoration: none;
}


.nextButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.3em;
}

.generalHover:hover{
    color: aqua; 
    cursor: pointer;
	text-decoration: none;
}


h1{
	
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size: 2.0em;
	cursor: default;
    display: inline;
}

button{
	clear:both;
}

.buttonControl{
    border: 1px solid #00FF00;
    padding: 8px;
    background: rgba(0,0,0,0);
    color: #00FF00;
}
.buttonControl:disabled{
    color: dimgrey;
    border: 1px solid dimgrey;
}
.appPage{
    display: none;
    width: 100%;
    height: 100%;
	font-size: 1.1em;
}

.buttonControl:hover{
   border-color: #0000FF;
   color: #0000FF;
}

.blockAd{
    width: 336px;
    height: 280px;
    margin: auto;
    margin-top: 10px;
}


.blockAd:after{
    position: relative;
    left: 100px;
    content: "ADVERTISEMENT";
    font-size: 12px;
    color: #CCC; 
}


#canvasHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.orientationMessage{
	margin: 100px auto;
	text-align: center;
	display: none;
}

.orientationMessage img{
	width: 100%;
}

#interfaceWrapper{
    text-align: center;
    height: 100%;
	width: 100%;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}


#storyLine{
    overflow: hidden;
    text-align: left;
}
#storyLine p{
    text-indent: 25px; 
}

.scrollBox{
    width: 400px;
    margin: auto;  
}

.scrollBox{
 margin-bottom: 10px;
 /* Starting position */
 -moz-transform:translateY(80%);
 -webkit-transform:translateY(80%);	
 transform:translateY(80%);
 /* Apply animation to this element */	
 -moz-animation: scrollBox 210s linear infinite;
 -webkit-animation: scrollBox 210s linear infinite;
 animation: scrollBox 210s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scrollBox {
 0%   { -moz-transform: translateY(20%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scrollBox {
 0%   { -webkit-transform: translateY(20%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scrollBox {
 0%   { 
 -moz-transform: translateY(20%); /* Firefox bug fix */
 -webkit-transform: translateY(20%); /* Firefox bug fix */
 transform: translateY(20%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 
 }
}


#loading{
    background: #000;
}

.loading-bar{
    width: 50%;
    height: 40px;
    margin:  40% auto;
    border: 1px solid #00FF00;
    border-radius: 3px;
    display: inline-block;
}
.loading-bar div{
    background: #00FF00;
    height: 100%;
    width: 0%;
}

.socialPlugins{
    position: absolute;
    padding: 20px;
    height: 40px;
    left: 10px;
    bottom: 10px;
}

#googlePlay{
    position: relative;
    top: -15px;
    
}

.titleMenu span, .titleMenu a{
    width: 150px;
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1.1em;
}

#titleScreen h1{
    display: inline-block;
    font-size: 2.0em;
    color: white;
}

#howToPlay{
    background-image: url(../assets/mobile/how-to-play.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #000;
}
#howToPlay h2{
    font-size: 1.5em;
    position: relative;
    margin-top: 0px;
    top: 12px;
    color: #00FF00;
    
}
#howToPlay p{
 width: 295px;
 float: right;
 clear: both;
 margin-right: 10px;
 text-align: left;
 font-size: 0.9em;
}

#credits{
   font-size: 0.9em;
   color: #00FF00; 
   background-color: #000;
}
#credits ul{
    text-align: left;
}
#credits h2{
    width: 200px;
    margin: auto;
    padding: 10px;
    color: #00FF00;
    display: block;
}

#gamePlay{
    font-size: 1.4em;
}

#gamePlay span{
    margin-left: 30px;  
}


#levelTransition{
    background-color: #000;
	background-image: url(../assets/sprites/backgroundPiece.png);
	background-repeat: repeat;
    text-align: left;
}

#levelTransition span{
    width: 250px;
    margin: 5px auto;
    margin-bottom: 4px;
    display: block;
}

#levelTransition h2{
    width: 200px;
    margin: auto;
    padding: 10px;
    color: #00FF00;
    display: block;
}

#onPause{
    
    background: #000;
    
}

#onPause h2{
    
    display: inline-block;
    font-size: 33px;
    color: #fff;
    font-family: inherit;
    margin: 20% auto;
    text-transform: uppercase;
    
}


#beatGame{
    background-color: #000;
    background-image: url("../assets/sprites/beatGame_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    text-align: center;
}
#beatGame h2{
    display: block;
    width: 250px;
    padding: 10px;
    margin: auto;
    color: #fff;
}
#beatGame div{
    width: 300px;
    margin: auto;
}
#beatGame span{
    display: block;
}
#gameOver{
    background-color: #000;
    background-image: url("../assets/sprites/game_over_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
#gameOver h1{
    width: 300px;
    margin: auto;
    padding: 10px;
    display: block;
    color: #fff;
}